:root{
    --primary: #fff;
    --btnCol: #0F6B57;
    --padComp: 5vw;
}
.textHelp{
    max-height: fit-content;
    margin-bottom: 0;
}
.textHelp:hover{
    text-decoration: underline;
    cursor: pointer;
}
.signNewsP{
    background-color: var(--btnCol);
    color: var(--primary);
}
.footer{
    padding: var(--padComp);
}
.logoFooter{
    max-width: 100% ;
}