*{
    margin: 0;
}
:root{
    --primary: #fff;
    --btnCol: #0F6B57;
    --boxR: 3.5rem;
}
.LoginButt{
    border: solid 1px var(--btnCol);
}
.SignUpButt{
    background-color: var(--btnCol);
    color: var(--primary);
}
.browseTxt:hover{
    text-decoration: underline;
    cursor: pointer;
}
.header{
    padding: 1rem;
}.userImg{
    aspect-ratio: 1/1;
    height: var(--boxR);
    width: var(--boxR);
    max-width: var(--boxR);
    max-height: var(--boxR);
    background-color: #0F6B57;
    border-radius: 100%;
}
.userName{
    margin: 0;
}
.logout{
    width: fit-content;
    color: var(--primary);
    background-color: var(--btnCol);
}